{{ noparse }}
<!--
- If you have enabled the slider via the theme 
- options(Admin > Design > Themes > Base > Options) 
- this will display on the home page of your site.
-
- You can add a definitive URL to your images or, 
if you've uploaded them into the themes image 
- directory(addons/<site_ref>/themes/base/img/)
- you can use {{ theme:image file="filename.jpg" }}
-->
{{ /noparse }}
<div class="flexslider">
	<ul class="slides">
    <li><img src='/addons/shared_addons/themes/custom/img/banner/1.jpg' /></li>
    <li><img src='/addons/shared_addons/themes/custom/img/banner/2.jpg' /></li>
    <li><img src='/addons/shared_addons/themes/custom/img/banner/3.jpg' /></li>
    <li><img src='/addons/shared_addons/themes/custom/img/banner/4.jpg' /></li>
    <li><img src='/addons/shared_addons/themes/custom/img/banner/5.jpg' /></li>
	</ul>
</div>
